html {
  font-size: 16px;
}

body {
  /*background-color: #eee;*/
}

nav {
  background-color: white;
}

.navbar.navbar-fixed-top {
  /*background-color: #242625;*/
  /*background-color: #333;*/
  /*background-color: #ff008d;*/
  background-color: #23F4FF;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

/*.navbar-header {
  width: 100%;
  height: 100%;
}*/

.navbar-DTP {
  color: #eee;
  font-family: "anton", sans-serif;
  font-weight: 400;
  /*font-family: 'nixie one', cursive;*/
  font-size: 2.2em;
  margin-left: 10px;
  height: 100%;
}

.navbar-add-event {
  font-family: "oswald", sans-serif;
  font-weight: 200;
  /*font-family: 'nixie one', cursive;*/
  color: #eee;
  font-size: 1.4em;
  float: right;
  margin-right: 1rem;
  /*margin-top: 20px;*/
}
.row {
  display: flex;
  flex-direction: column;
  align-items: center; 
}
.hero {
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  background-color: white;
  align-items: center;
}

h1 {
  /*font-family: "Bevan", cursive;*/
  font-family: 'Anton', sans-serif;
  font-size: 14em;
  margin-bottom: 0px;
}

h2 {
  font-family: "Bevan", cursive;
  margin-top: 0px;
  /*color: #ff008d;*/
  /*color: white;*/
  /*color: #07AAB2;*/
  color: #23F4FF;
}

p {
  /*font-family: 'News Cycle', sans-serif;*/
  font-family: 'oswald', sans-serif;
  /*font-family: 'nixie one', cursive;*/
  font-weight: 200;
  font-size: 1.3em;
  text-align: center;
}

.p-bold {
  font-size: 1.4em;
}

.filters {
  padding-top: 1rem;

}

/*.issue, .neighborhood {
  color: #333;
  font-family: 'anton', sans-serif;
}*/

.btn {
  background-color: white;
  /*color: #ff008d;*/
  color: #333;/*
  font-family: 'anton', sans-serif;*/
  /*font-family: "slabo", serif;*//*
  font-family: 'nixie one', cursive;*/
  font-family: 'oswald', sans-serif;
  font-weight: 200;
  font-size: 1.3em;
  border: 1px solid #eee;
  margin-right: 1rem;
  padding-right: 0;
}

.dropup {
  font-family: "oswald", sans-serif;
}

#results {
  font-family: "oswald", sans-serif;
  color: pink;
}
.btn:hover {
  background-color: #333;
  color: #eee;
}

.btn:active {
  background-color: pink;
}

.selectpicker {
  color: black;
}

.btn-lg {
  margin-top: 1em;
  color: #23F4FF;
  font-family: "Bevan", cursive;
  margin-right: 0;
  padding-right: 16px;

}

/*#results {
  color: black;
  height: 100px;
  width: 100px;
  background-color: green;
}*/

/*Add An Event page styles */

/*#upcoming-event {
  padding-top: 7rem;
}*/

.chitchat {
  padding-top: 7rem;
  display: flex;
  flex-direction: column;
  background-color: white;
  align-items: center;
  padding-bottom: 1rem;
}

/*.add-protest {
  display: flex;
  flex-direction: column;
  align-items: center;
}*/

label.col-md-3 {
  font-family: "News Cycle", sans-serif;
  font-size: 1.5em;
  font-weight: lighter; 
  padding-right: 0;
}

div.col-md-6 {
  padding-left: 0;
}

input {
  padding-bottom: 0;
}

/*Admin page styles*/

.admin-title {
  padding-top: 2em;
}

#addComment{
  height: 7rem;
  padding-bottom: 5rem;
}